@import "./reset.css";

#root {
  width: 1200px;
  height: 800px;
  border: 1px solid #000000;
  padding: 10px;
  border-radius: 10px;
}
body {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
h1 {
  font-size: 40px;
  margin: 20px auto;
}
form {
  display: flex;
  height: 80px;

  align-items: center;
  gap: 10px;
}
h2 {
  margin: 15px auto 15px;
  font-size: 32px;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
li {
  border: 1px solid #000000;
  padding: 10px;
  border-radius: 10px;
}
.input-text {
  display: flex;
  gap: 5px;
}
button {
  margin: 10px 5px 0 5px;
}
.add {
  margin: 0px;
}
